body {
  margin: 0;
  padding: 0;
  background: #000;

  overflow: hidden;
}

div#matrix-canva {
  color: #0f0;
}


h1 {
  color: #0f0;
}

ul.sequence {
  margin: 0;
  padding: 0;
  
  list-style: none;
  display: inline;
}

ul.sequence li {
  white-space: nowrap; 
  font-weight: bold;

  color: rgb(50, 202, 104);
  text-shadow:
    0px 0px 10px rgb(6, 75, 23),
    /* 0px 0px 10px rgb(6, 75, 23), */
    /* 0px 0px 5px rgb(6, 75, 23), */
    /* 0px 0px 5px rgb(6, 75, 23), */
    0px 0px 5px rgb(6, 75, 23);
}

ul.sequence li.first {
  color: rgb(168, 255, 205);
  text-shadow:
    0 0px 10px rgb(30, 110, 80),
    /* 0 0px 10px rgb(30, 110, 80), */
    /* 0 0px 5px rgb(30, 110, 80), */
    /* 0 0px 5px rgb(30, 110, 80), */
    0 0px 5px rgb(30, 110, 80);
}
